# **Dictionary**

<p align="justify">A dictionary is a collection which is unordered and changeable. In Python dictionaries are written with curly brackets, and they have keys and values.

<p align="justify">The values can be of any data type and can repeat, keys must be of immutable type (string, number or tuple with immutable elements) and must be unique.

In [ ]:
my_dict1 = {1: 'apple', 2: 'ball'}
my_dict2 = {'name': 'John', 1: [2, 4, 3]}
my_dict3 = dict([(1,'apple'), (2.0,'ball')])
my_dict4 = dict({1:'apple', 2:'ball'})
my_dict5 = dict(((1,'apple'), (2,'ball')))
my_dict6 = dict(brand="Ford", model="Mustang", year=1964)

print(my_dict1)
print(my_dict2)
print(my_dict3)
print(my_dict4)
print(my_dict5)
print(my_dict6)

{1: 'apple', 2: 'ball'}
{'name': 'John', 1: [2, 4, 3]}
{1: 'apple', 2.0: 'ball'}
{1: 'apple', 2: 'ball'}
{1: 'apple', 2: 'ball'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**Blank dictionary**

In [ ]:
# empty dictionary
my_dict = {}
print(my_dict)

{}

# **Accessing Elements from Dictionary**

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
print(my_dict['name'])
print(my_dict.get('age1'))
print(my_dict.get("school","xyz"))

Jack
None
xyz

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
print(my_dict.get('address')) # this will give you None
#print(my_dict['address'])# this will give you key error
#print(my_dict['Jack'])# this will give you key error

None

## **Nested Dictionary**

In [ ]:
my_dict = {'Dict1': {1: 'jack',2:'jon'},'Dict2': {'age': 27}} 
print(my_dict)

{'Dict1': {1: 'jack', 2: 'jon'}, 'Dict2': {'age': 27}}

# **Accessing Elements from Nested Dictionary**

In [ ]:
my_dict = {'Dict1': {1: 'jack',2:'jon'},'Dict2': {'age': 27}}
print(my_dict['Dict1']) 
print(my_dict['Dict1'][2]) 
print(my_dict['Dict2']['age'])

{1: 'jack', 2: 'jon'}
jon
27

# **Changing and Adding Dictionary elements (Updating Dictionary)**

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
my_dict['age'] = 27
print(my_dict)

{'name': 'Jack', 'age': 27}

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
my_dict['address'] = 'Downtown'
print(my_dict)

{'name': 'Jack', 'age': 26, 'address': 'Downtown'}

# **Removing elements from Dictionary**

In [ ]:
my_dict = { "brand": "Ford","model": "Mustang", "year": 1964}
my_dict.pop("model")
print(my_dict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
my_dict = {"brand": "Ford","model": "Mustang","year": 1964}
my_dict.popitem()
print(my_dict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
del my_dict["age"]
print(my_dict)

{'name': 'Jack'}

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
del my_dict
#print(my_dict)# this will give you error my_dict is not defined

# **Loop Through a Dictionary**

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
# Print all key names in the dictionary, one by one:
for x in my_dict:
  print(x)

name
age

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
# Print all values in the dictionary, one by one:
for x in my_dict:
  print(my_dict[x])

Jack
26

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
# Print all values in the dictionary, one by one:
#  print(type(my_dict.keys()))      # my_dict.keys() return dict_keys object
for x in my_dict.keys():
  print(x)

name
age

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
# Print all values in the dictionary, one by one:
# print(type(my_dict.values()))      # my_dict.values() return dict_values object
for x in my_dict.values():
  print(x)

Jack
26

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
# we can use the items() method to return all key and values pairs of a dictionary:
# print(type(my_dict.items()))      # my_dict.items() return dict_items object contained two values
for x, y in my_dict.items():
  print(x, y)

name Jack
age 26

# **Dictionary Methods():**

# **a).clear()**

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
my_dict.clear()

print(my_dict)

{}

## **b).copy()**

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
x=my_dict.copy()
print(x)
print(id(my_dict))
print(id(x))

{'name': 'Jack', 'age': 26}
140508354628816
140508390583504

# **c).fromkeys()**

In [ ]:
x = ('key1', 'key2', 'key3')
y = "hello"

my_dict = dict.fromkeys(x,y)

print(my_dict)

{'key1': 'hello', 'key2': 'hello', 'key3': 'hello'}

In [ ]:
x = ('key1', 'key2', 'key3')
y = [1,2,3]

my_dict = dict.fromkeys(x,y)

print(my_dict)

{'key1': [1, 2, 3], 'key2': [1, 2, 3], 'key3': [1, 2, 3]}

# **d).update()**

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}

my_dict.update({"color": "White","school":"xyz"})

print(my_dict)

{'name': 'Jack', 'age': 26, 'color': 'White', 'school': 'xyz'}