# **List:**

<p align="justify">A list is a data type that can be used to store any type and number of variables and information.The list is one of the most widely used data types in Python. A Python List can be easily identified by square brackets [ ]. Lists are used to store the data items where each data item is separated by a comma (,).

**Syntax:**

my_list = [item_1, item_2, item_3]

In [ ]:
mylist=[2,3,"hello",2.0]
print(mylist)

[2, 3, 'hello', 2.0]

In [ ]:
#Blank list
list1=[]
print(list1)

[]

In [ ]:
# Empty list having 5 None elements 
list1=[None]*5
print(list1)

[None, None, None, None, None]

In [ ]:
#Multi dimension list (Nested list)
List1 = [['abc', 'def'] , ['ijk']] 
print("\nMulti-Dimensional List: ") 
print(List1)

Multi-Dimensional List:
[['abc', 'def'], ['ijk']]

# **Slicing of a List**

In [ ]:
List = ['a','b','c','d','e','f','g','h','i'] 
# Print elements of a range using Slice operation 
Sliced_List = List[3:8] 
print("\nSlicing elements in a range 3-8: ") 
print(Sliced_List)

Slicing elements in a range 3-8:
['d', 'e', 'f', 'g', 'h']

In [ ]:
List = ['a','b','c','d','e','f','g','h','i'] 
# Print elements from a  pre-defined point to end 
print(List[5:])
print(List[:])
print(List[:-6])
print(List[-6:-1] )
print(List[8:2:-1] )
print(List[2:8:-1] )
print(List[::-1] )
print(List[::] )

['f', 'g', 'h', 'i']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
['a', 'b', 'c']
['d', 'e', 'f', 'g', 'h']
['i', 'h', 'g', 'f', 'e', 'd']
[]
['i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

# **Accessing elements from the List**

In [ ]:
List = ["hello", "hi", "Good morning"] 
# accessing a element from the list using index number 
print("Accessing a element from the list") 
print(List[0])  
print(List[-1])

Accessing a element from the list
hello
Good morning

In [ ]:
List = [['hello', 'hi'] , ['Good moring']] 
# accessing a element from the Multi-Dimensional List using index number 
print("Acessing a element from a Multi-Dimensional list") 
print(List[0][1]) 
print(List[1][0])

Acessing a element from a Multi-Dimensional list
hi
Good moring

# **List Methods:**

# **1). append()**

<p align="justify">append is used to add elements at the end of list.It is used to add single element at a time.

In [ ]:
List = [0] 
# Addition of Elements in the List at last
List.append(1) 
List.append(2) 
List.append([1,2,3]) 
print(List) 
List[3][2]=6
print(List)

[0, 1, 2, [1, 2, 3]]
[0, 1, 2, [1, 2, 6]]

In [ ]:
# Adding elements to the List using Iterator (for loop)
List=[]
for i in range(1, 4): 
    List.append(i) 
print("\nList after Addition of elements from 1-3: ") 
print(List)

List after Addition of elements from 1-3:
[1, 2, 3]

In [ ]:
# Addition of List to a List(Nested list) 
List1=["hello"]
List2 = ['hi', 'good morning'] 
List1.append(List2) 
print("\nList after Addition of a List: ") 
print(List1)

List after Addition of a List:
['hello', ['hi', 'good morning']]

# **2). remove()**

<p align="justify">remove is used to remove perticular elements from list.remove through error if element is not present inside list.

In [ ]:
List = [1, 2, 3, 4, 5, 6,  
        7, 8, 9, 10, 11, 12] 
# Removing elements from List using Remove() method 
List.remove(5) 
List.remove(6) 
print("\nList after Removal of two elements: ")
print(List)

List after Removal of two elements:
[1, 2, 3, 4, 7, 8, 9, 10, 11, 12]

In [ ]:
List = [1, 2, 3, 4, 5, 6,  
        7, 8, 9, 10, 11, 12]     
List.remove(13) # this through error
print(List)

# **3).pop()**

<p align="justify">pop is used to remove last element from list.If you remove perticular element then indexing of that element is pass as argument in pop method.

In [ ]:
List = [1,2,3,4,5] 
# Removing  last element from the list using the pop() method 
List.pop() 
print("\nList after popping an element: ") 
print(List)

List after popping an element:
[1, 2, 3, 4]

In [ ]:
List = [1,2,3,4,5] 
# Removing element at a specific location (indexing)from the list using the pop() method 
List.pop(2) 
print("\nList after popping a specific element: ") 
print(List)

List after popping a specific element:
[1, 2, 4, 5]

# **4).insert()**

<p align="justify">insert is used to add element at perticular index.

**Syntax:**

     list.insert(index,value)

In [ ]:
List = [1,2,3,4] 
# Addition of Element at specific Position (indexing position) using Insert Method) 
List.insert(3, 12) 
List.insert(2, 'hello') 
print("\nList after performing Insert Operation: ") 
print(List)

List after performing Insert Operation:
[1, 2, 'hello', 3, 12, 4]

# **5).extend()**

<p align="justify">extend is used to add multiple element at a time.

In [ ]:
List = [1,2,3,4] 
# Addition of multiple elements to the List at the end using Extend Method) 
List.extend([8, 'hi', 'Good morning']) 
print("\nList after performing Extend Operation: ") 
print(List)

List after performing Extend Operation:
[1, 2, 3, 4, 8, 'hi', 'Good morning']

# **6).Clear()**

<p align="justify">clear is used to remove all element in list and make list as blank list.

In [ ]:
List = [1,2,3,4] 
List.clear()
print(List)

[]

# **7).index()**

<p align="justify">index is used to know indexing of any element in list.

In [ ]:
List = [1,2,3,"hello"] 
print(List.index("hello"))

3

# **8). sort()**

<p align="justify">sort is used to sort list into a perticular order, by default is sort in assending order.

**Syntax:**

      list.sort(reverse=True|False, key=myFunc)

In [ ]:
List = [1,5,3,4] 
List.sort()
print(List)

[1, 3, 4, 5]

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']
# sort by assending order by default
cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']
# sort by dessending order when reverse=True
cars.sort(reverse=True)
print(cars)

['Volvo', 'Ford', 'BMW']

In [ ]:
def myFunc(e):
  return len(e)
# sort by function definition
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']