# **Loops in Python:**

# **a).While Loop:**

**Syntax:**

**While(condition)**: 

                statement(s)

In [ ]:
count=0
while (count<3):
    count = count+1
    print("hello")

hello
hello
hello

**While else expression :**

<p align="justify">With the else statement we can run a block of code once when the condition no longer is true:

**Syntax:**

**While(condition):**

              statement(s)

**else:**

             statement(s)

In [ ]:
count=0
while (count<3):
    count = count+1
    print("hello")
else:
  #print("hello")
  print("In else block")

hello
hello
hello
In else block

# b)	For Loop:

**a ) Using the range() Function with the for Loop**

**Syntax:**

**for iterator_var in sequence:**

            statements(s)

In [ ]:
for a in range(9):
  print(a)

0
1
2
3
4
5
6
7
8

In [ ]:
for a in range(2,8,2):
  print(a)

2
4
6

**b ) Using iterable with the for Loop**

In [ ]:
for a in "hello":
  print(a)

h
e
l
l
o

# **c) Nested  For Loops:**

**Syntax:**

for iterator_var in sequence: 

       for iterator_var in sequence:

                   statements(s) 

                   statements(s)

In [ ]:
n=5
b=1
for i in range(n):
  for j in range(b):
    print("*",end=" ")
  b=b+1
  print()

*
* *
* * *
* * * *
* * * * *

# **Loop Control Statements:**

**a) Continue Statement:**

<p align="justify">It returns the control to the next iteration of the loop.

In [ ]:
for letter in "helloworld":
  if letter == "e" or letter == "w":
    continue
    print("this line never print")
  print("current letter:",letter)

current letter: h
current letter: l
current letter: l
current letter: o
current letter: o
current letter: r
current letter: l
current letter: d

**b) Break Statement:**

<p align="justify">It brings control out of the loop

In [ ]:
for letter in "helloworld":
  if letter == "e" or letter == "w":
    print("current letter:",letter)
    break
  print("current letter:",letter)

current letter: h
current letter: e

**c) Pass Statement:**

<p align="justify">We use pass statement to write empty loops. Pass is also used for empty control statement, function and classes.

In [ ]:
for letter in "helloworld":
  pass