# **Sets**

<p align="justify">A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

<p align="justify">Every set element is unique (no duplicates) and must be immutable (cannot be changed). However, a set itself is mutable. We can add or remove items from it.

# **Create a Set:**

In [ ]:
set1 = {"apple", "banana", "cherry"}
print(set1)

{'apple', 'cherry', 'banana'}

In [ ]:
set1 = {"apple",[1,2,3], "cherry"} # this will give you error , set elements are always immutable
print(set1)

In [ ]:
set1 = {"apple",(1,2,3), "cherry"} # this will give work
print(set1)

{'apple', 'cherry', (1, 2, 3)}

# **set() Constructor**

In [ ]:
set2 = set(["apple", "banana", "cherry"]) 
print(set2)

{'apple', 'cherry', 'banana'}

In [ ]:
set2=set("hello")
print(set2)

{'e', 'h', 'o', 'l'}

# **blank Set:**

In [ ]:
set3={} # this will create dictionary instead of set
print(type(set3))

<class 'dict'>

In [ ]:
set4=set() # this will create blank set
print(set4)
print(type(set4))

set()
<class 'set'>

# **Length of a Set:**

In [ ]:
set5 = {"apple", "banana", "cherry"}

print(len(set5))

3

# **Accessing Items of sets:**

<p align="justify">You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

<p align="justify">But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

**Through for loops:**

In [ ]:
set6 = {"apple", "banana", "cherry"}

for x in set6:
  print(x)

apple
cherry
banana

**Through membership test:**

In [ ]:
set7 = {"apple", "banana", "cherry"}

print("banana" in set7)

True

# **Sets methods:**

# **a).add()**

<p align="justify">add is used to add element in set

In [ ]:
set8 = {"apple", "banana", "cherry"}

set8.add("kiwi")

print(set8)

{'cherry', 'apple', 'kiwi', 'banana'}

## **b).update()**

<p align="justify">update is used to add multiple element in set.

In [ ]:
set9 = {"apple", "banana", "cherry"}

set9.update(["orange", "mango", "grapes"])

print(set9)

{'orange', 'mango', 'banana', 'grapes', 'apple', 'cherry'}

# **c).remove()**

<p align="justify">remove is used to remove perticular element from set.It through error when element is not present inside set.

In [ ]:
set10 = {"apple", "banana", "cherry"}

set10.remove("banana")
#set10.remove("orange") # this will give you error

print(set10)

{'cherry', 'apple'}

# **d).discard()**

<p align="justify">discard work very similar to remove only difference is is not through error when element is not present inside set.

In [ ]:
set11 = {"apple", "banana", "cherry"}

set11.discard("banana")
set11.discard("orange") # this will not give you error

print(set11)

{'cherry', 'apple'}

# **e).pop()**

<p align="justify">pop is used to remove very first element from set.

In [ ]:
set12 = {"apple", "banana", "cherry"}
print(set12)
x = set12.pop()
print(x)
print(set12)

{'apple', 'cherry', 'banana'}
apple
{'cherry', 'banana'}

# **f).clear()**

<p align="justify">clear is used to remove all element from set and make set blank.

In [ ]:
set13 = {"apple", "banana", "cherry"}

set13.clear()

print(set13)

set()

# **g).del**

<p align="justify">del is a keyword used to delete set.

In [ ]:
set14 = {"apple", "banana", "cherry"}

del set14

print(set14) # this will give you error set is not defined

# **Set Operations:**

# **a) union:**

<p align="justify"> Union of A and B is a set of all elements from both sets without repeatition.

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/set-union.jpg)

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A | B)
print(A.union(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

# **b). intersection:**

<p align="justify">The intersection of two or more sets is the set of elements which are common to all sets.

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/set-intersection.jpg)

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A & B)
print(A.intersection(B))

{4, 5}
{4, 5}

In [ ]:
A = {1, 2, 3,4}
B = {2, 3, 4, 5, 6}
C = {4, 5, 6, 9, 10}
print(A & B & C)
print(A.intersection(B,C))

{4}
{4}

# **c).Difference:**

<p align="justify">The set difference of A and B is a set of elements that exists only in set A but not in B.

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/set-difference.jpg)

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A - B)
print(A.difference(B))

{1, 2, 3}
{1, 2, 3}

# **d).Symmetric Difference:**

<p align="justify">The symmetric difference of two sets A and B is the set of elements that are in either A or B, but not in their intersection.

![alt text](https://cdn.programiz.com/sites/tutorial2program/files/set-symmetric-difference.jpg)

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A ^ B)
print(A.symmetric_difference(B))

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

# **e).difference_update**

<p align="justify">Here, A and B are two sets. The difference_update() updates set A with the set difference of A-B

In [ ]:
A = {'a', 'c', 'g', 'd'}
B = {'c', 'f', 'g'}

A.difference_update(B)
print('A = ', A)
print('B = ', B)

A =  {'a', 'd'}
B =  {'f', 'c', 'g'}

## **f).intersection_update()**

1.   List item
2.   List item

In [ ]:
A = {1, 2, 3, 4}
B = {2, 3, 4, 5}

A.intersection_update(B)
print('A =', A)
print('B =', B)

A = {2, 3, 4}
B = {2, 3, 4, 5}

# **g).symmetric_difference_update()**

In [ ]:
A = {'a', 'c', 'd'}
B = {'c', 'd', 'e' }

A.symmetric_difference_update(B)
print('A =', A)
print('B =', B)

A = {'e', 'a'}
B = {'e', 'c', 'd'}

# **Frozenset**

<p align="justify">frozensets are immutable sets.

In [ ]:
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])
print(A)
print(B)

frozenset({1, 2, 3, 4})
frozenset({3, 4, 5, 6})

In [ ]:
print(A.add(5)) # this will not work in case of frozen sets
print(A.update(5,6)) # this will not work in case of frozen sets