# **Strings:**

<p align="justify">A string is a sequence of characters that may be a combination of letters,numbers, and special symbols. To define a string in Python, you can enclose the string in matching single or double quotes:

<p align="justify">string1 = ‘I am enclosed in single quotes.’

<p align="justify">string2 = “I am enclosed in double quotes.”

# **String Indexing:**

![alt text](https://www.learnbyexample.org/wp-content/uploads/python/String-Indexing.png)

In [ ]:
S="Hello Python"
print(S[0])
print(S[-1])

H
n

# **Length of String:**

In [ ]:
S="Hello Python"
print(len(S))

12

# **Concatenating Strings:**

In [ ]:
H="Hello "
P="Python"
print(H+P)

Hello Python

# **Repeating Strings:**

In [ ]:
H="Hello"
print(H*5)

HelloHelloHelloHelloHello

# **Slicing Strings:**

In [ ]:
S="Hello Python"
print(S[2:4])
print(S[:])
print(S[:-6])
print(S[-6:-1] )
print(S[8:2:-1] )
print(S[::-1] )

ll
Hello Python
Hello
Pytho
tyP ol
nohtyP olleH

# **.format():**

In [ ]:
a='rohan'
b="singh"
string="my name is {} and title is {}".format(a,b)
print(string)

my name is rohan and title is singh

In [ ]:
a='rohan'
b="singh"
string="my name is {0} and title is {1}".format(a,b)
print(string)

my name is rohan and title is singh

In [ ]:
a='rohan'
b="singh"
string="my name is {1} and title is {0}".format(a,b)
print(string)

my name is singh and title is rohan

In [ ]:
a='rohan'
b="singh"
c="hello"
string="my name is {1} and title is {0} {2}".format(a,b,c)
print(string)

my name is singh and title is rohan hello

# **f string:**

In [ ]:
a='rohan'
b="singh"
string=f"my name is {a} and title is {b}"
print(string)

my name is rohan and title is singh

# **String methods:**

# **a).split()**

<p align="justify">split method splits a string into a list.You can specify the separator, default separator is any whitespace.

**Syntax:**

string.split(separator, maxsplit)

In [ ]:
txt = "welcome to     theIndia"

x = txt.split()
print(type(x))
print(x)

<class 'list'>
['welcome', 'to', 'theIndia']

In [ ]:
print("welcome to India".split())

['welcome', 'to', 'India']

In [ ]:
print("welcome,to,India".split(','))

['welcome', 'to', 'India']

In [ ]:
print("welcome,to,India".split(',',1))

['welcome', 'to,India']

# **b).splitlines()**

<p align="justify">The splitlines() method splits a string into a list. The splitting is done at line breaks.

**Synatx:**

string.splitlines()

In [ ]:
txt = "Thank you for the music\nWelcome to the India"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the India']

In [ ]:
txt = "Thank you for the music\n\nWelcome to the \nIndia"

x = txt.splitlines()

print(x)

['Thank you for the music', '', 'Welcome to the ', 'India']

# **c).replace()**

<p align="justify">The replace() method replaces a specified phrase with another specified phrase.

**Syntax:**

string.replace(oldvalue, newvalue, count)

In [ ]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [ ]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

# **d).lower()**

<p align="justify">The lower() method returns a string where all characters are lower case.Symbols and Numbers are ignored.

**Syntax:**

string.lower()

In [ ]:
txt = "Hello my 12FRIENDS"

x = txt.lower()

print(x)

hello my 12friends

# **e).upper()**

<p align="justify">The upper() method returns a string where all characters are upper case.Symbols and Numbers are ignored.

**Syntax:**

string.upper()

In [ ]:
txt = "Hello my 23FRIENDS"

x = txt.upper()

print(x)

HELLO MY 23FRIENDS

# **f).startswith()**

<p align="justify">The startswith() method returns True if the string starts with the specified value, otherwise False.

**Syntax:**

string.startswith(value, start, end)

In [ ]:
txt = "Hello, welcome to my world."

x = txt.startswith("hello")

print(x)

False

In [ ]:
txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 9)

print(x)

False

# **g).endswith()**

<p align="justify">The endswith() method returns True if the string ends with the specified value, otherwise False.

**Syntax:**

string.endswith(value, start, end)

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith("world.")

print(x)

True

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5, 11)

print(x)

False

# **h).title()**

<p align="justify">The title() method returns a string where the first character in every word is upper case. Like a header, or a title.If the word contains a number or a symbol, the first letter after that will be converted to upper case.

**Syntax:**

string.title()

In [ ]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

# **i).index()**

<p align="justify">The index() method finds the first occurrence of the specified value.The index() method raises an exception if the value is not found.

**Syntax:**

string.index(value, start, end)

In [ ]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [ ]:
txt = "Hello, welcome to my world."

x = txt.index("e", 5, 10)

print(x)

8

# **j).count()**

<p align="justify">The count() method returns the number of times a specified value appears in the string.

**Syntax:**

string.count(value, start, end)

In [ ]:
txt = "I love sapples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [ ]:
txt = "I love apple, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

# **k).islower()**

<p align="justify">The islower() method returns True if all the characters are in lower case, otherwise False.Numbers, symbols and spaces are not checked, only alphabet characters.

**Syntax:**

string.islower()

In [ ]:
txt = "hello world!"

x = txt.islower()

print(x)

True

# **l). isupper()**

<p align="justify">The isupper() method returns True if all the characters are in upper case, otherwise False.Numbers, symbols and spaces are not checked, only alphabet characters.

**Syntax:**

string.isupper()

In [ ]:
txt = "HELLO WORLD!"

x = txt.isupper()

print(x)

True

## **m).isalnum()**

<p align="justify">The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9),else return False.

**Syntax:**

string.isalnum()

In [ ]:
txt = "Company234"

x = txt.isalnum()

print(x)

True

# **n).isdigit()**


<p align="justify">The isdigit() method returns True if all the characters are a numbers (0-9),else return False.

**Syntax:**

string.isdigit()

In [ ]:
txt = "50800"

x = txt.isdigit()

print(x)

True

**Similarly : isalpha(),isidentifier(),isdecimal(),isnumeric(),isspace(),isprintable(),istitle()**

# **o).strip()**

<p align="justify">The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

**Syntax:**

string.strip(characters)

In [ ]:
txt = "     banana     "

x = txt.strip()

print(x)

banana

In [ ]:
txt = "banana"

x = txt.strip('a')

print(x)

banan

# **p).rstrip()**

<p align="justify">The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

In [ ]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [ ]:
txt = "banana,,,,,ssaaww....."

x = txt.rstrip(",a.sw")

print(x)

banan

In [ ]:
txt = "banana,,,,,ssaaww.....b"

x = txt.lstrip("b")
y=txt.strip("b")

print(x)
print(y)

anana,,,,,ssaaww.....b
anana,,,,,ssaaww.....

# **q).rsplit()**

**Difference between split and rsplit:**

In [ ]:
txt = "apple,banana,cherry"

x = txt.rsplit(",",1)
y= txt.split(",",1)
print(x)
print(y)

['apple,banana', 'cherry']
['apple', 'banana,cherry']

# **r).join()**

In [ ]:
txt=["1","2","3","4"]

x = "#".join(txt)

print(x)

1#2#3#4

In [ ]:
print(":".join("Python"))

P:y:t:h:o:n

In [ ]:
txt="hello"
list1=list(txt)
list1.insert(2,"r")

x = "".join(list1)

print(x)

herllo

# **S) .find()**

<p align="justify">- The find() method finds the first occurrence of the specified value.

<p align="justify">- It returns -1 if the value is not found.

<p align="justify">- The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found.

**Syntax:**

string.find(value, start, end)

- value	Required. The value to search for
start	Optional. 

- Where to start the search. Default is 0
end	Optional. 

- Where to end the search. Default is to the end of the string

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("Z", 5, 10)

print(x)

-1