# **Tuple**

<p align="justify">Python tuples are a data structure that store an ordered sequence of values. Tuples are immutable. This means you cannot change the values in a tuple. Tuples are defined with parenthesis.</p>

In [ ]:
tuple1 = ("apple", "banana", "cherry")
print(tuple1)

('apple', 'banana', 'cherry')

In [ ]:
#sample of tuple 
tuple1=() # blank tuple
print(tuple1)
sample_tuple="A","B","C"
print(sample_tuple)
sample_tuple1=("D",)
print(sample_tuple1)

()
('A', 'B', 'C')
('D',)

# **Concatenating two tuples:**

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2=('pineapple','orange')
print(tuple1+tuple2)

('apple', 'banana', 'cherry', 'pineapple', 'orange')

# **Slicing of tuple  (work similar to list)**

In [ ]:
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple1[-5:-1])

('cherry', 'orange', 'kiwi', 'melon')

# **Tuple is immutable**

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple1[2] = "orange" # This will raise an error
print(tuple1)

In [ ]:
my_tuple = (4, 2, 3, [6, 5])

# TypeError: 'tuple' object does not support item assignment
#my_tuple[1] = 9

# However, item of mutable element can be changed
my_tuple[3][0] = 9    # Output: (4, 2, 3, [9, 5])
print(my_tuple)

(4, 2, 3, [9, 5])

**we can change tuple by type casting**

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# **Tuple Method:**



# **a). count()**

<p align="justify">count return no. of accurance of any elements.</p>

In [ ]:
tuple1 = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = tuple1.count(5)
print(x)

2

## **b). index()**

<p align="justify">index is used to return indexing of any element.</p>

In [ ]:
tuple1 = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = tuple1.index(8)

print(x)

3

**Some Prefine Function applied for List and Tuple**

# **a). sum()**

<p align="justify">sum is used to give sum of all  elements(interger and float) of list.</p>

In [ ]:
List1 = [1,5,3,4,5]
addition=sum(List1) 
print(addition)

18

In [ ]:
List1 = (3,5,3,6,5)
addition=sum(List1) 
print(addition)

22

In [ ]:
List1 = [1,5.6,3.0,4,5]
addition=sum(List1) 
print(addition)

18.6

# **b). filter()**


<p align="justify">The filter() function returns an iterator were the items are filtered through a function to test if the item is accepted or not.</p>

**syntax:**

    filter(function, iterable)

In [ ]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

print(list(adults))

[18, 24, 32]

# **c).map()**

<p align="justify">The map() function executes a specified function for each item in a iterable. The item is sent to the function as a parameter.</p>

**Syntax:**

    map(function, iterables)

In [ ]:
def square(n): 
    return n*n
  
# We double all numbers using map() 
numbers = [1, 2, 3, 4]
#result = map(square, numbers)
#print(result) 
#print(list(result))
print(list(map(square, numbers)))

[1, 4, 9, 16]

In [ ]:
def square(n): 
    return n+1
  
# We increment numbers by 1 using map() 
numbers = (1, 2, 3, 4) 
print(tuple(map(square, numbers) ))
print(set(map(square, numbers) ))

(2, 3, 4, 5)
{2, 3, 4, 5}

# **d). zip()**

<p align="justify">- The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

<p align="justify">- If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

Syntax: 

zip(iterator1, iterator2, iterator3 ...)

In [ ]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")

c = zip(a, b)
print(c)
print(tuple(c))

<zip object at 0x7fcd21f030f0>
(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [ ]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")

c = zip(a, b)
for x,y in c:
  print(x,y)

John Jenny
Charles Christy
Mike Monica